---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Jose A. Espinoza</title>
	</head>
	<body>
		<h1>Jose A. Espinoza</h1>
		<h2>Assistant Professor</h2>
		<h3>Dept. of Psychology, Western University</h3>

		Test of push using the jae-noza account through GitHub Desktop
	</body>
</html>
